.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

.page-navigation {
  padding: 1rem;
  position: fixed;
  top: 0;
  background-color: white;
  color: var(--primary-color);
}

.page-navigation a {
  color: var(--primary-color);
}

main {
  position: relative;
  top: 6rem;
  height: 100%;
}

.link-active {
  font-weight: bold;
}

.page-navigation li:hover {
  text-decoration: underline;
}

.card-row {
  justify-content: space-between;
  padding: 0.5rem;
}

.card,
.card:hover {
  box-shadow: none;
}

.svg-icon {
  height: 1.5rem;
}

.nav-text {
  font-size: 0.85rem;
  letter-spacing: 1px;
}
